body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
}

.App {
  background-color: #2c2c54;
  max-width: 400px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
}

#screen {
  color: white;
  text-align: end;
  font-family: monospace;
  padding: 20px;
  padding-bottom: 0;
}

.input {
  font-size: 2em;
}

.history {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  grid-template-areas:
    "clear clear divide multiply"
    "number number number subtract"
    "number number number add"
    "number number number equals"
    "zero zero decimal equals";
}

button {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #f7f1e3;
  border-radius: 10px;
  border: none;
  font-size: 1.3em;
  transition: ease 0.3s;
}

button:hover {
  opacity: 0.9;
}

.grey {
  background-color: #aaa69d;
}

#clear {
  grid-area: clear;
  width: 170px;
  background-color: #ff5252;
}

#equals {
  grid-area: equals;
  height: 170px;
  background-color: #ff793f;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#decimal {
  grid-area: decimal;
  background-color: #f7f1e3;
}

#zero {
  grid-area: zero;
  width: 170px;
}
